<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Careers</h1>
  <hr />

  <p class="text-center">
    Wait, you seriously want to work for Flexter?
    I'm the one seeking a career here, so hmu in that contact info section if you like what you see in this app! 
  </p>

  <br />
    <span class="fa fa-hand-o-down fa-2x careers-icon"></span>

</div>