<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1> Learn Magic from the Pros </h1>
    <br />
    <h2> I'm an illusionist, Michael </h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm booyah-box">
    <h3>Proper Lifting Technique</h3>
    <br />
    <p>Mitigate your risk for injury and learn to lift even heavier with proper form!</p>
  </div>

  <div class="col-12 col-sm booyah-box">
    <h3>Recovery and Stretching</h3>
    <br />
    <p>Warm up and cool down the right way to prevent sore muscles.</p>
  </div>

  <div class="col-12 col-sm booyah-box">
    <h3>Join Us</h3>
    <br />
    <p>Connect with a community of fitness enthusiasts who share your motivation to keep improving!</p>
  </div>
</div>