<br />

<div class=" booyah-box col-10 offset-1">
  <h1 class="text-center">Team</h1>
  <hr />

  <p class="text-center">
    There's no I in team...
  </p>
  <p class="text-center">
     But there is an I in Firehose! Thanks to Ken, Marco, and the rest of the folks at The Firehose Project for giving me the skills I need to build this awesome app! 
  </p>

</div>